﻿@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        @ViewBag.ErrorMessage
    </div>
}

@*@if (Html.ValidationSummary() != null && string.IsNullOrWhiteSpace(Html.ValidationSummary().ToHtmlString()) == false)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        @Html.ValidationSummary()
    </div>
}*@
