﻿@if (ViewBag.SuccessMessage != null)
{


    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        @ViewBag.SuccessMessage
    </div>

}