﻿@using Microsoft.AspNet.Identity
@model App.Domain.DTO.Users.ChangePasswordDTO

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()
	<div class="row">
		<div class="col-xs-12 col-md-11 col-lg-9">
			<div class="panel panel-default">
				<div class="panel-heading">Usted está autenticado como <strong>@User.Identity.GetUserName()</strong>.</div>
				<div class="panel-body">

					<div class="form-group">
						@Html.LabelFor(m => m.OldPassword, "Contraseña actual*")
						@Html.EditorFor(m => m.OldPassword, new { @class = "form-control" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.NewPassword, "Nueva contraseña*")
						@Html.EditorFor(m => m.NewPassword, new { @class = "form-control" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.ConfirmPassword, "Confirmar nueva contraseña*")
						@Html.EditorFor(m => m.ConfirmPassword, new { @class = "form-control" })
					</div>

					<div class="form-group pull-right">
						@Html.ActionLink("Cancelar", "Index", "Home", null, new { @class = "btn btn-default btn-cancel" })
						<input type="submit" class="btn btn-primary" value="Aceptar" />
					</div>
				</div>
			</div>
		</div>
	</div>
}