﻿@model App.Domain.DTO.Users.UserDTO

@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Crear Usuarios";
	ViewBag.H1Title = "Usuarios";
	ViewBag.H1SubTitle = "(Crear)";
}

@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { role = "form" }))
{
	@Html.AntiForgeryToken()
	<div class="row">
		<div class="col-xs-12 col-md-11 col-lg-9">
			<div class="panel panel-default">
				<div class="panel-heading">Llena el formulario para crear el usuario</div>
				<div class="panel-body">
					<div class="form-group">
						@Html.LabelFor(m => m.FullName, "Nombre*")
						@Html.EditorFor(m => m.FullName, new { @class = "form-control" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.UserName, "Usuario*")
						@Html.EditorFor(m => m.UserName, new { @class = "form-control" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Password, "Contraseña*")
						@Html.EditorFor(m => m.Password, new { @class = "form-control" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.ConfirmPassword, "Confirmar Contraseña*")
						@Html.EditorFor(m => m.ConfirmPassword, new { @class = "form-control" })
					</div>
					
					<div class="form-group">
						@Html.LabelFor(m => m.Roles, "Roles")
						
						@foreach (var role in Model.Roles)
						{
							<div class="multi-select-item">
								<input type="hidden" name="Roles.Index" value="@role.RoleId" />
								<input type="checkbox" name="Roles[@role.RoleId].Name" value="@role.Name" @if (role.IsSelected) { <text> checked='checked' </text>        } />
								<span>@role.Name</span>
								
							</div>
						}

					</div>

					<div class="form-group pull-right">
						@Html.ActionLink("Cancelar", "Index", "Account", null, new { @class = "btn btn-default btn-cancel" })
						<input type="submit" class="btn btn-primary" value="Aceptar" />
					</div>
				</div>
			</div>
		</div>
	</div>
}

