﻿@model App.Domain.DTO.Users.UserDTO
@{

	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	string blockedString = Model.IsBlocked ? "Desbloquear" : "Bloquear";
	ViewBag.Title = blockedString + " Usuario";
	ViewBag.H1Title = "Usuario";
	ViewBag.H1SubTitle = "(" + blockedString + ")";
	
}

@using (Html.BeginForm("Delete", "Account", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.UserId)
	@Html.HiddenFor(m => m.Id)
	<div class="row">
		<div class="col-xs-12 col-md-9 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Confirmación para @blockedString.ToLower() el usuario
				</div>
				<div class="panel-body">
					<div class="form-group">
						¿Está seguro de que quiere @blockedString.ToLower() el siguiente usuario?:
						<ul>
							<li>
								<strong>Id:</strong> @Model.UserId
							</li>
							<li>
								<strong>Nombre: </strong> @Model.FullName
							</li>
							<li>
								<strong>Usuario: </strong> @Model.UserName
							</li>
						</ul>

					</div>
					<div class="form-group pull-right">
						@Html.ActionLink("Cancelar", "Index", "Account", null, new { @class = "btn btn-default btn-cancel" })
						<input type="submit" class="btn btn-primary" value="@blockedString" />
					</div>
				</div>
			</div>
		</div>
	</div>
}
