﻿@using Kendo.Mvc.Extensions
@using Kendo.Mvc.UI
@using App.Common.Classes.Extensions
@using App.Domain.DTO.Users

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_ListLayout.cshtml";

	ViewBag.Title = "Listado Usuarios";
	ViewBag.H1Title = "Usuarios";
	ViewBag.H1SubTitle = "(Lista)";

}


@section gridCommands{
	<button type="button" id="btnExcel" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Exportar Excel</button>
	<a class="btn btn-primary" href="@Url.Action("Create")">
		<i class="fa fa-plus-circle"></i> Crear
	</a>
}

<script type="text/javascript">
	var intGridFilters = [{ field: "UserId", operator: "eq" }];
	var stringGridFilters = [{ field: "FullName", operator: "contains" }];
</script>


@{
	//Definimos las acciones del menu de la Grid
	List<string> actions = new List<string>();
	actions.Add(string.Format("<a href='{0}/#=UserId#'>Editar</a>", Url.Action("Edit")));
	actions.Add(string.Format("<a href='{0}/#=UserId#'>Bloquear/Desbloquear</a>", Url.Action("Delete")));

	//Este es el template del cliente para la Grid
	string actionsTemplate = Html.CoreDropDownMenu(actions).ToHtmlString();
}


@(Html.CoreKendoGrid<UserDTO>("GetAll", "Account")
		.Columns(col =>
		{
			col.Template(o => o).ClientTemplate(actionsTemplate).Title("Acciones")
				 .HtmlAttributes(new { @class = "actions-column" })
				 .Width(150); ;
			col.Bound(p => p.UserId).Title("Id").Width(60);
			col.Bound(p => p.UserName).Title("Usuario");
			col.Bound(p => p.FullName).Title("Nombre");
			col.Bound(p => p.IsBlocked).Title("¿Bloqueado?").ClientTemplate("#if(IsBlocked){#Sí#}else{#No#}#");
		})
)