﻿@using App.Web.Models;
@using Microsoft.AspNet.Identity;
@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Actualizar contraseña";
	ViewBag.H1Title = "Perfil";
	ViewBag.H1SubTitle = "(Usuario)";
}
<p class="text-success">@ViewBag.StatusMessage</p>
@if (ViewBag.HasLocalPassword)
{
	
	@Html.Partial("_ChangePasswordPartial")
}
else
{
	@Html.Partial("_SetPasswordPartial")
}
@*<section id="externalLogins">
		@Html.Action("RemoveAccountList")
		@Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
	</section>*@
