﻿@using Kendo.Mvc.Extensions
@using Kendo.Mvc.UI
@{
	ViewBag.Title = ViewBag.Title != null ? ViewBag.Title : "{Title}";
	ViewBag.H1Title = ViewBag.H1Title != null ? ViewBag.H1Title : "{H1Title}";
	ViewBag.H1SubTitle = ViewBag.H1SubTitle != null ? ViewBag.H1SubTitle : "{H1SubTitle}";

}


<!DOCTYPE html>
<html lang="es-co">
<head>
	<!-- #region META -->
	<title>[ADMIN] - @ViewBag.Title</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- #endregion -->
	<!-- #region STYLES -->
	@Styles.Render("~/Content/Bootstrap")
	@Styles.Render("~/Content/Vendor/Kendo/web/kendocss")
	@Styles.Render("~/Content/admin")

	<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" />
	@RenderSection("styles", required: false)
	<!-- #endregion -->
	<!-- #region SCRIPTS -->
	@Scripts.Render("~/bundles/admin")
	@RenderSection("scripts", required: false)
	<!-- #endregion -->
	<!-- #region I8 -->
	<!-- Custom Fonts -->
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- #endregion -->



</head>
<body>

	<div id="wrapper">

		<!-- #region NAVEGACION -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/Admin/Home">Administrador</a>
			</div>
			<!-- Top Menu Items -->
			@Html.Partial("_LoginPartial")
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			@*<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav side-nav">
						<li>
							<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-cog"></i> Gatos <i class="fa fa-fw fa-caret-down"></i></a>
							<ul id="demo" class="collapse">
								<li>
									<a href="/admin/cat/index">Lista de gatos</a>
								</li>
								<li>
									<a href="#">Lista de Ciudades</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>*@
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				@(Html.Kendo().PanelBar()
				.Name("menu")
				.ExpandMode(PanelBarExpandMode.Single)
								.HtmlAttributes(new { @class = "nav navbar-nav side-nav", style = "width: auto" })
						.BindTo("app") //bind to sitemap with name "sample"
				.SecurityTrimming(true)
				)

			</div>
			<!-- /.navbar-collapse -->
		</nav>
		<!-- #endregion -->

		<div id="page-wrapper">
			<div class="container-fluid">


				@{
					Html.RenderPartial("Common/H1TitlePartial");
					Html.RenderPartial("Common/ErrorMessagePartial");
					Html.RenderPartial("Common/SuccessMessagePartial");
				}

				<div class="row">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var selected = "@ViewBag.Action";
		
		kendo.culture("es-CO");

		

		$(function () {
			if (selected) {
				var panelBar = $("#menu").data("kendoPanelBar");
				// select the item with ID, "item1"
				panelBar.select($('a[href="' + selected + '"]')[0].parentElement);
				panelBar.expand($('a[href="' + selected + '"]')[0].parentElement.parentElement.parentElement.parentElement.parentElement);
				panelBar.expand($('a[href="' + selected + '"]')[0].parentElement.parentElement.parentElement);
			}
		});
	</script>
</body>


</html>