﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
@section scripts{
	<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="txt-search" type="text" class="form-control" placeholder="Término de busqueda...">
                    <span class="input-group-btn">
                        <button id="btn-clear" class="btn btn-default" type="button"><i class="fa fa-times"></i></button>
                        <button id="btn-search" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>

                </div>
            </div>
            <div class="visible-xs">
                &nbsp;
            </div>

            <div class="col-sm-6">
                <div class="pull-right">
                    @RenderSection("gridCommands", required: false)
                </div>
            </div>
        </div>
    </div>
</div>


<script>
	function ValidateFormat(formats, format) {
		format = format.replace('.', '');
		var valid = true;

		var index = formats.indexOf(format);

		if (index == -1) {
			valid = false
		}

		return valid;
	}
    $(function () {


        //Capturamos el enter
        $('#txt-search').keyup(function (e) {
            if (e.keyCode == 13) {
                $("#btn-search").trigger("click");
            }
        });

        $('#btn-clear').click(function (e) {
            $("#txt-search").val("");
            $("#btn-search").trigger("click");
        });

    	//Exportar a excel
        $('#btnExcel').click(function () {
        	$("#grid").data("kendoGrid").saveAsExcel()
        })

        //Click en el boton buscar
        $("#btn-search").click(function () {

            var q = $("#txt-search").val();
            var qNumber = Number(q);

            var filters = [];

            //Si el query es vacio. No ponemos filtros
            if (q !== "") {
                //Si es numero creamos los filtros de Ints
                if (qNumber) {

                    $.each(intGridFilters, function (index, item) {
                        item.value = q;
                        filters.push(item);
                    });

                }
                //Creamos los filtros de texto
                $.each(stringGridFilters, function (index, item) {
                    item.value = q;
                    filters.push(item);
                });

            }

            $("#grid").data("kendoGrid").dataSource.query({
                page: 1,
                pageSize: 10,
                filter: {
                    logic: "or",
                    filters: filters
                }
            });
        });
    })
</script>




@section styles{
    <style type="text/css">
        td.actions-column {
            overflow: visible !important;
        }
    </style>
}


@RenderBody()
