﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

	<ul class="nav navbar-right top-nav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>  @User.Identity.GetUserName() <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li>
					<a href="/Admin/Account/Manage"><i class="fa fa-fw fa-edit"></i> Mi perfil</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a>
				</li>
			</ul>
		</li>
	</ul>
	}
}

