﻿@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@using System.Web.Configuration;
@using System.Configuration;
@{
	string textToShow = "Seleccionar Archivo";
	string textUploaded = "Terminó";
	string textUploadedFailed = "No se logró guardar";
	string controllerToUpload = "Helper";
	string actionToUpload = "SaveFile";
	string folder = "/Files/Temp/";
	string extensions = "pdf,docx,zip,jpg,jpeg,xls,mp3";
	bool multiple = false;
	int maxRequestLength = 0;
	HttpRuntimeSection section =
	ConfigurationManager.GetSection("system.web/httpRuntime") as HttpRuntimeSection;
	if (section != null)
	{ 
		maxRequestLength = section.MaxRequestLength;
	}
	var htmlAttributes = new RouteValueDictionary();
	if (ViewBag.@class != null)
	{
		htmlAttributes.Add("class", "form-control " + ViewBag.@class);
	}
	else
	{
		htmlAttributes.Add("class", "form-control");
	}

	if (ViewBag.text != null)
	{
		textToShow = ViewBag.text;
	}

	if (ViewBag.action != null)
	{
		actionToUpload = ViewBag.action;
	}

	if (ViewBag.controller != null)
	{
		controllerToUpload = ViewBag.controller;
	}

	if (ViewBag.folder != null)
	{
		folder = ViewBag.folder;
	}
	if (ViewBag.extensions != null)
	{
		extensions = ViewBag.extensions;
	}

	if (ViewBag.multiple != null)
	{
		multiple = ViewBag.multiple;
	}

}

@{
	string propertyName = ViewData.TemplateInfo.HtmlFieldPrefix;
	string value = ViewData.TemplateInfo.FormattedModelValue.ToString();
	string uploadName = string.Format("upload{0}", propertyName);
	Kendo.Mvc.UI.Fluent.UploadBuilder upload = null;

	
	upload = Html.Kendo().Upload()
			.Name(uploadName)
			.Messages(m => m.Select(textToShow).HeaderStatusUploaded(textUploaded).StatusFailed(textUploadedFailed))
			.Multiple(multiple)
			.Async(a => a
				.Save(actionToUpload, controllerToUpload)
				.AutoUpload(true)
			);

	@upload.Events(c => c
			.Upload(@<text>
				function(e) {
					e.data = {
						fieldName:'@uploadName',
						path: '@folder',
					};
				}

			</text>)
			.Success(@<text>
				function(e) {
					$("#@propertyName").val(e.response.name);
				}

			</text>)
			.Error(@<text>
				function(e) {
					$("#@propertyName").val("Error al intentar guardar " + $("#@propertyName").val());
				}

			</text>)
			.Select(@<text>
				function(e) {
					if ('@extensions' != "" ) {
						var files = e.files;

						$.each(files, function () {
							if (this.size > @maxRequestLength * 1024) {
							  alert("El archivo es demasiado pesado y no se puede guardar. Solo archivos con peso menor a @(maxRequestLength/1024) MB");
							  e.preventDefault(); // This cancels the upload for the file
							}
							else
							{
								var valid =  ValidateFormatFile('@extensions', this.extension.toLowerCase())
								if (!valid) {
									alert("Solo se permiten archivos con extensiones: @extensions");
									e.preventDefault();
									return false;
								}
							}
						  });
						
					}

				}

			</text>)
	)

	<input id="@propertyName" type="hidden" name="@propertyName" value="@value" />

	if (!string.IsNullOrEmpty(value))
	{
		string directory = folder.ToString() + value;

		<a href="@directory" target="_blank" style="padding-left:15px">@value</a>
	}
}